*{
    box-sizing: border-box;
}

html{
    background-color:rgb(115, 151, 78);
}

body{

    background-color:snow;
    width: 90%;
    margin: auto;
    padding: 5px;
    min-height: 800px;


}


header{
    
    background-image:url(../IMAGES/header.JPG);
    min-height:40px;
    
}

#section1{


    width: 70%;
    float: left;
    padding: 5px;

}

#section2{

    padding: 5px;
}



fieldset > div {

    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    border-bottom: solid 1px;


}

fieldset > div > * {

    flex: 1 1 30px;
}

